<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de productos</title>
</head>
<body>
	<h1>Lista de productos</h1>
	<table>
		<thead>
			<tr>
				<th>Id producto</th>
				<th>Nombre</th>
				<th>Cantidad disponible</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto : ${productos}">
				<td th:text="${producto.id}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.lineaInventario.cantidad}"></td>
			</tr>
		</tbody>
	</table>
	<br/>
	<table>
		<tr>
			<td><a onclick="goBack()" href="#">Retornar</a></td>
		</tr>
	</table>
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</body>
</html>